@{
}

<h2 class="text-center mb-5">Types of Events We Cover</h2>


<div class="container">
    <div class="row">
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Birthday parties.jpg"
                     alt="Birthday Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Birthday Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Baby Showers.png"
                     alt="Baby Showers" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Baby Showers</h5>
                </div>
            </div>
        </div>

       
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Weddings.jpg"
                     alt="Weddings" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Weddings</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Work Functions.jpg"
                     alt="Work Functions" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Work Functions</h5>
                </div>
            </div>
        </div>

       
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Matric Farewell Parties.jpeg"
                     alt="Matric Farewell Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Matric Farewell Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Engagement Parties.jpg"
                     alt="Engagement Parties" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Engagement Parties</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Anniversary Celebrations.png"
                     alt="Anniversary Celebrations" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Anniversary Celebrations</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Corporate Retreats.jpeg"
                     alt="Corporate Retreats" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Corporate Retreats</h5>
                </div>
            </div>
        </div>

      
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Graduation Ceremonies.JPG"
                     alt="Graduation Ceremonies" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Graduation Ceremonies</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/event-images/Family Reunions.jpg"
                     alt="Family Reunions" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Family Reunions</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .event-image {
        object-fit: cover;
        height: 200px; 
        width: 100%; 
    }
</style>
