@{
}

<h2 class="text-center mb-5">Venue Gallery</h2>

<div class="container">
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/venue-images/Barn.jpeg"
                     alt="Barn" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Barn</h5>
                    <p>Capacity: 80 people<br />32 Marula Street</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/venue-images/Lapa.jpg"
                     alt="Thatch Roof Lapa" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Thatch Roof Lapa</h5>
                    <p>Capacity: 20 people<br />18 Protea Avenue</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/venue-images/Ballroom.jpg"
                     alt="Ballroom" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Ballroom</h5>
                    <p>Capacity: 200 people<br />101 Lilac Road</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://st10442123poe.blob.core.windows.net/venue-images/Hall.jpg"
                     alt="Hall" class="card-img-top event-image">
                <div class="card-body">
                    <h5 class="card-title">Hall</h5>
                    <p>Capacity: 100 people<br />45 Jacaranda Crescent</p>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .event-image {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
</style>

